<div class="container">
  <form ng-submit="get()" class="form-signin">
    <h1 class="form-signin-heading">Sign In</h1>
      <label for="inputUser" class="sr-only">Username</label>
      <input type="text" ng-model="username" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" ng-model="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </form>
</div> <!-- /container -->