<div class="container">
  <form ng-submit="post()" class="form-signin">
    <h1 class="form-signin-heading">Sign Up</h1>
      <label for="inputUser" class="sr-only">Username</label>
      <input type="text" ng-model="username" class="form-control" placeholder="Username" required autofocus>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" ng-model="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" ng-model="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      <a href="#/signin" style="float:right;">Already a Member?</a>
    </form>
</div> <!-- /container -->